<style scoped>
.gcastdiv  {
	margin:4px;display:block;padding:0px;
	border: 1px solid white; border-radius:7px;
	width:250px;height:300px;
	height:calc(#playingSize# + 50px);height:calc(250px + #contentSize#);
	height:calc(#playingSize# + #contentSize#);width:#playingSize#;
	font-size:#fontSize#;color:#fontColor#;
	background-color: #backColor#;font-family:#fontFamily#;
}
.content {height:50px;width:100%;height:#contentSize#;padding:1px;}
.line1 {font-size:115%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;text-overflow:"…";}
.line2 {overflow:hidden;white-space:nowrap;text-overflow:ellipsis;text-overflow:"…";}
.pbcont {
	position:absolute;top:47px;top:calc(#contentSize# - 3px);left:0px;
	width:100%;height:4px;border-radius:2px;
	padding-left:4px;padding-right:4px;
}
.pb {height:4px;background-color: #fontColor#;border-radius:2px;}
.lineimg {width:250px;width:#playingSize#;padding:3px;}
.picture {width:99%;border-radius:7px;}
#additionalCss#
</style>
<div class="cmd cmd-widget gcastdiv" data-type="info" data-subtype="string" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#">
	<center>
	<div class='content'>
		<div class="line1 marquee"></div>
		<div class="line2"></div>
	</div>
	<div class="pbcont"><div class="progress" style="height:4x;background-color:unset;border-radius:0px;">
		<div class="progress-bar pb" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" role="progressbar"></div>
	</div></div>
	<div class="lineimg">
		<img class='picture' src="plugins/googlecast/desktop/images/chromecast2.png"/></div>
	</center>
	<script>
	$('.cmd[data-cmd_uid=#uid#] .pbcont').hide();
	colorFont = $('.cmd[data-cmd_uid=#uid#]').css('color');
	$('.cmd[data-cmd_uid=#uid#] .pb').css('background-color', (colorFont.slice(-1)=="#")?'white':colorFont );
	$('body').on("googlecast::#state#::nowplaying", function (_event,_data) {
		//console.log(_data['nowplaying']);
		var playing = _data['nowplaying'];
		var root = $('.cmd[data-cmd_uid=#uid#]');
		if ( playing['image'] ) {
			root.find('.picture').attr('src', playing['image']);
		}
		else {
			if ( playing['icon_url'] && playing['icon_url']!=="" ) {	// show app logo if exists
				root.find('.picture').attr('src', playing['icon_url']);
			}
			else {
				root.find('.picture').attr('src','plugins/googlecast/desktop/images/chromecast2.png');
			}
		}

		if (playing['online']===true) {
			if (playing['current_time'] && playing['duration'] && playing['duration']>0) {
				calcP = Math.round(playing['current_time']/playing['duration']*100);
				root.find('.pbcont').show();
				root.find('.pb').css('width', calcP+'%').attr('aria-valuenow', calcP);
			}
			else {
				root.find('.pbcont').hide();
			}
			if (!playing['player_state'] || playing['player_state']!='UNKNOWN') {
				if (!playing['series_title']) {
					if (playing['title'])
						root.find('.line1').empty().append(playing['title']);
					if (playing['artist'])
						root.find('.line2').empty().append(playing['artist']);
					else
						root.find('.line2').empty().append('('+playing['player_state']+')');
					if (playing['album_name'])
						root.find('.line1').attr('title', playing['album_name']);
					if (playing['album_artist'])
						root.find('.line2').attr('title', playing['album_artist']);
				}
				else {
					root.find('.line2').empty();
					root.find('.line1').empty().append(playing['series_title']);
					if (playing['season'] && playing['episode']) {
						root.find('.line2').empty().append(playing['season'] + ' - ' + playing['episode']);
					}
				}
			}
			else {
				if ( (playing['status_text']==='Ready to cast' || playing['status_text']==='Pr\xeat \xe0 caster') && playing['display_name'] && playing['display_name']!=='') {
					root.find('.line1').empty().append(playing['display_name']);
				}
				else {
					root.find('.line1').empty().append(playing['status_text']);
				}
				root.find('.line2').empty();
			}
		}
		else {
			root.find('.line1').empty().append('Offline');
			root.find('.line2').empty();
			root.find('.pbcont').hide();
		}
	});
	googlecastRefreshNowPlaying_#uid# = function() {
			if ($('.cmd[data-cmd_uid=#uid#]').length==0 || ! $('.cmd[data-cmd_uid=#uid#]').is(':visible')) {
				clearInterval(window['plugin_googlecast_timer_playing_#uid#']);
				if (typeof window['plugin_googlecast_timer_playing_#uid#'] !== 'undefined')
					delete window['plugin_googlecast_timer_playing_#uid#'];
				return;
			}
			$.ajax({
				type: "POST", url: 'plugins/googlecast/core/php/googlecast.ajax.php',
				data: {	action: "nowplaying", uuid: "#state#" },
				dataType: 'json', global : false,
				timeout: 3000
			 });
		};
	googlecastRefreshNowPlaying_#uid#();
	if (typeof window['plugin_googlecast_timer_playing_#uid#'] !== 'undefined')
		clearInterval(window['plugin_googlecast_timer_playing_#uid#']);
	window['plugin_googlecast_timer_playing_#uid#'] = setInterval(googlecastRefreshNowPlaying_#uid#, 1000*60*5);	// 5 minutes
	</script>
</div>
