<div style="min-width:1px;margin-top: 3px;margin-right: 5px;" class="pull-right cmd #history# tooltips cmd-widget" data-type="info" data-subtype="binary" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#">
  <span style="font-size: 1.0em !important;font-weight: bold;color: var(--eqTitle-color) !important;" class="gcIconCmd"></span>
  <script>
    jeedom.cmd.update['#id#'] =function(_options){
      $('.cmd[data-cmd_id=#id#]').attr('title','' +((_options.display_value==0)?'Idle':'Busy')+ ' (valeur du '+_options.valueDate+', collectée le '+_options.collectDate+')')
      if (_options.display_value == '1') {
       $('.cmd[data-cmd_id=#id#] .gcIconCmd').empty().append('<i class="fa fa-play"></i>');
     }else {
      $('.cmd[data-cmd_id=#id#] .gcIconCmd').empty().append('<i class="fa fa-stop"></i>');
    }
  }
  jeedom.cmd.update['#id#']({display_value:'#state#',valueDate:'#valueDate#',collectDate:'#collectDate#',alertLevel:'#alertLevel#'});

  dest = $('.cmd[data-cmd_id=#id#]').closest('.eqLogic-widget').find('.refresh');
  $('.cmd[data-cmd_id=#id#]').detach().insertAfter(dest);
</script>
</div>
